*{
    margin:0;
    padding: 0;
}

body{
    background-color: #eff6e0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.titan-one-regular {
    margin-top: 1.5rem;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.game{
    height: 320px;
    width: 320px;
    margin: auto;
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #124559;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}

.box{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    background-color: #01161e;
    color:#aec3b0;
}

#reset{
    margin-top: 1.5rem;
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: #598392;}

#msg{
    margin:1.5rem;
    font-size: 2rem;
    color:#124559;
    padding: 5px;
}
